<!DOCTYPE html>
<html class="no-js"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>viper</title>
    <meta charset="utf-8">
    <meta content="MapleStory tool set"
          name="description">
    <meta content="gaon-park" name="author">
    <meta content="noindex, nofollow" name="robots">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1.0" name="viewport">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/icon57.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/icon72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/icon76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/icon114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/icon120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/icon144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/icon152.png}">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- Related styles of various icon packs and javascript plugins -->
    <link rel="stylesheet" th:href="@{/css/plugins.css}">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" th:href="@{/css/themes.css}">
    <!-- END Stylesheets -->

    <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
    <script th:src="@{js/vendor/modernizr-respond.min.js}"></script>
</head>
<body class="header-fixed-top sidebar-left-pinned sidebar-right-pinned">
<!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

<!-- Bootstrap.js, Jquery plugins and custom Javascript code -->
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

<th:block th:replace="@{/fragments/sidebar}"></th:block>
<div id="page-container">
    <header th:replace="@{/fragments/header}"></header>
    <div layout:fragment="content"></div>
</div>
<!-- END Page Container -->

<!-- Scroll to top link, check main.js - scrollToTop() -->
<a href="javascript:void(0)" id="to-top"><i class="fa fa-angle-up"></i></a>
</body>
</html>