<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<div id="login-container" layout:fragment="content">
    <!-- Page Content -->
    <div class="block remove-margin" id="page-content">
        <!-- Login Title -->
        <div class="block-header">
            <div class="header-section">
                <h1 class="text-center">회원가입</h1>
            </div>
        </div>
        <!-- END Login Title -->

        <!-- Register Form -->
        <form class="form-horizontal" id="form-validation" method="post" th:action="@{/regist}" th:object="${form}">
            <!--            <div class="form-group">-->
            <!--                <label class="col-md-2 control-label" for="val_username">Username</label>-->
            <!--                <div class="col-md-3">-->
            <!--                    <div class="input-group">-->
            <!--                        <input type="text" id="val_username" name="val_username" class="form-control">-->
            <!--                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">이메일</label>
                <div class="col-lg">
                    <div class="input-group">
                        <input class="form-control" id="email" name="email" th:field="*{email}" type="text">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="password">비밀번호</label>
                <div class="col-lg">
                    <div class="input-group">
                        <input class="form-control" id="password" name="password" th:field="*{password}"
                               type="password">
                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="confirmPassword">비밀번호 확인</label>
                <div class="col-lg">
                    <div class="input-group">
                        <input class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}"
                               type="password">
                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">이용 규약</label>
                <a class="btn btn-block btn-link" data-toggle="modal" href="#modal-terms">이용 규약 확인하기</a>
                    <div class="checkbox" style="text-align: center">
                        <label for="terms">
                            <input type="checkbox" id="terms" name="terms" th:field="*{terms}" value="1">동의
                        </label>
                    </div>
            </div>
            <div class="form-group">
                <div style="float: right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i>등록</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <p class="text-center remove-margin">
                        <small>이미 계정을 갖고 계신가요?</small>
                        <a href="/login">
                            <small>로그인</small>
                        </a>
                    </p>
                </div>
            </div>
        </form>
        <!-- END Register Form -->

        <!-- Modal Terms -->
        <div aria-hidden="true" class="modal" id="modal-terms" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title">이용규약</h4>
                    </div>
                    <div class="modal-body">
                        <h4>개인정보 취급에 대하여</h4>
                        <p>이용에 앞서 본 페이지는 개인이 관리하고 있음을 명시합니다.</p>
                        <h4>개인정보의 이용 목적</h4>
                        <p>본 페이지가 보유하는 개인정보를 다음과 같은 목적으로 이용합니다. 본 페이지는 본인의 동의를 얻지 않은 상태에서, 이 이용 목적 달성에 필요한 범위를 넘어서는 유저의
                            개인 정보를 이용하지 않습니다.</p>
                        <p>0. 로그인/회원가입을 위해</p>
                        <p>1. 대표 캐릭터 정보 취득을 위해(메이플스토리 soap api)</p>
                        <h4>개인 데이터의 이용</h4>
                        <p>본 페이지가 보유하는 유저의 개인 데이터 중 다음 기재 내용의 개인 정보 항목을 공개하도록 하고 있습니다.</p>
                        <p>0. 대표 캐릭터 정보</p>
                        <p>1. 일정</p>
                        <p>2. 업적 타임라인</p>
                        <h4>개인 데이터의 제3자 제공</h4>
                        <p>본 페이지가 보유하는 유저의 개인 데이터는 고객의 동의 없이 제3자에게 공개 및 제공하지 않습니다. 단, 다음과 같은 경우에 유저의 동의 없이 개인 데이터를 공개 및
                            제공해야할 의무가 있음을 알립니다.</p>
                        <p>0. 법령 규정에 근거한 경우</p>
                        <p>1. 사람의 생명, 신체 또는 재산(법인 재산을 포함)의 보호를 위해 필요한 경우에 고객의 동의를 얻기 곤란할 때</p>
                        <p>2. 국가 기관 또는 지방공공단체 또는 그 위탁을 받은 자가 법령이 정하는 사무를 수행하기 위해 협력할 필요가 있는 경우, 고객의 동의를 얻음으로 당해 사무 수행에
                            지장을 줄 우려가 있을 때</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Modal Terms -->
    </div>
    <!-- END Page Content -->
    <script>
        $(function () {
            /*  For advanced usage and examples please check out
             *  Jquery Validation   -> https://github.com/jzaefferer/jquery-validation
             */

            /* Initialize Form Validation */
            $('#form-validation').validate({
                errorClass: 'help-block', // You can add help-inline instead of help-block if you like validation messages to the right of the inputs
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    e.parents('.form-group > div').append(error);
                },
                highlight: function (e) {
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    // You can remove the .addClass('has-success') part if you don't want the inputs to get green after success!
                    e.closest('.form-group').removeClass('has-success has-error').addClass('has-success');
                    e.closest('.help-block').remove();
                },
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 4
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 4,
                        equalTo: '#password'
                    },
                    terms: {
                        required: true
                    }
                },
                messages: {
                    email: 'Please enter a valid email address',
                    password: {
                        required: 'Please provide a password',
                        minlength: 'Your password must be at least 4 characters long'
                    },
                    confirm_password: {
                        required: 'Please provide a password',
                        minlength: 'Your password must be at least 4 characters long',
                        equalTo: 'Please enter the same password as above'
                    },
                    terms: 'You must agree to the service terms!'
                }
            });
        });

    </script>
</div>
<!-- END Login Container -->
</html>